/* .img{
    width: 100px;
    height: 150px;
    object-fit: contain;
    border-radius: 50%;
    flex: 0.5;
}

.content{
    height: 1000px;
    width: 100%;
    background-color: #0054ef;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container{
    width: 600px;
    min-height: fit-content;
    background-color: #fff;
    display: flex;
    align-items: center;
    padding: 20px;
    margin: 20px;
    justify-content: space-around;
}
.text{
    flex: 0.5;
} */

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.cards{
    background: #28223f;
    display: grid;
    place-items:  center;
    min-height: 100vh;
}
.outer{
    display: flex;
    align-items: center;
    justify-content: center;

}
.cards .card{
    background: #fff;
    padding: 1.5rem;
    max-width: 30rem;
    border-radius: .5rem;
    position: absolute;
    pointer-events: none;
    opacity: 0;
    animation: animate 15s infinite linear;
    animation-delay: calc(3s * var(delay));

}

.profile .header{
    display: flex;
    align-items: center;

}

.header{
    justify-content: space-between;
}

.profile .img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    padding: 5px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.178);
}

.profile .img img{
    width: 100%;
    height: 100%;
    object-fit: cover;

}


.outer:hover .card{
    animation-play-state: paused;
}
.cards .card:last-child{
    animation-delay: calc(-3s * var(delay));
}

@keyframes animate{
    0% {
        opacity: 0;
        transform: translateY(100%) scale(0.5);
    }
    5%, 20% {
        opacity: 0.4;
        transform: translateY(100%) scale(0.7);
    }
    25%,40% {
        opacity: 1;
        pointer-events: all;
        transform: translateY(0%) scale(1);
    }
    45%,60% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.7);
    }
    65%,100% {
        opacity: 0.4;
        transform: translateY(-100%) scale(0.5);
    }
}